<div class="ah_c__page-header {{ styleModifier }}">

    <h1 class="ah_c__page-header__title">{{{ page.title }}}</h1>

    {{# page.description }}
    <p class="ah_c__page-header__desc">{{{ page.description }}}</p>
    {{/ page.description}}

</div><!-- end ah_c__page-header -->
