<div class="ah_c_section-header {{ styleModifier }}">

    <h1 class="ah_c_section-header__title">{{{ section.title }}}</h1>

    {{# section.description }}
    <p class="ah_c_section-header__desc">{{{ section.description }}}</p>
    {{/ section.description}}

</div><!-- end ah_c_page-header -->
