<div class="ah_c__field">
	<label for="{{ id }}" class="ah_c__field__label">{{ label }}</label>
	<input type="{{ type }}" id="{{ id }}" value="{{ value }}" placeholder="{{ placeholder }}" class="ah_c__field__input" {{# required}}required{{/ required}} {{# readonly}}readonly{{/ readonly}} {{ fieldExtras }} />
</div>
