<ul class="ah_c_card-list ah_l_grid ah_l_grid--3up {{ styleModifier }}">

	{{# cardList }}
	<li class="ah_c_card-list__item ah_l-grid__item">{{> molecules-card }}</li>
	{{/ cardList }}

</ul><!-- end ah_c_card-list -->
