<div class="ah_l ah_l--two-column-fixed">

    <div class="ah_l__secondary">

        {{> organisms-header(headerStyleModifier: "ah_c__header--vertical") }}

    </div><!--end ah_l__secondary-->

    <div class="ah_l__main">

        <div class="ah_l__container">

            <main role="main">

                    <div class="fpo-block">Page title/subtitle</div>

                    <div class="fpo-block">Live pattern tabs</div>

                    <div class="fpo-block">Code tabs</div>

                    <div class="fpo-block">Usage Guidelines</div>

                    <div class="fpo-block">Live site examples</div>

                    <div class="fpo-block">Detailed class description</div>

                    <div class="fpo-block">Discussion/conversation/issues/contributing</div>

            </main><!--end role=main-->

        </div><!--end ah_l__container-->

        {{> organisms-footer }}

    </div><!--end ah_l__main-->

</div><!--end ah_l--two-column-fixed-->
