<div class="ah_l ah_l--two-column-fixed">

    <div class="ah_l_secondary">

        {{> organisms-header:ah_c_header--vertical }}

    </div><!--end ah_l_secondary-->

    <div class="ah_l_main">

        <div class="ah_l_container">

            <main role="main">

                    {{> molecules-page-header }}

                    {{# liveTabs }}
                    {{> organisms-tabs}}
                    {{/ liveTabs }}

                    {{# codeTabs }}
                    {{> organisms-tabs}}
                    {{/ codeTabs }}

                    {{# usageSection }}
                    <section class="ah_c_section">

                        {{> molecules-section-header }}

                        <div class="ah_c_text-passage">
                            {{{ htmlText }}}
                        </div>

                    </section>
                    {{/ usageSection }}

                    {{# exampleSection }}
                    <section class="ah_c_section">

                        {{> molecules-section-header }}

                        {{> molecules-link-list }}

                    </section>
                    {{/ exampleSection }}

                    {{# classSection }}
                    <section class="ah_c_section">

                        {{> molecules-section-header }}

                        {{> organisms-table }}

                    </section>
                    {{/ classSection }}

                    <div class="fpo-block">Discussion/conversation/issues/contributing</div>

            </main><!--end role=main-->

        </div><!--end ah_l_container-->

        {{> organisms-footer }}

    </div><!--end ah_l_main-->

</div><!--end ah_l--two-column-fixed-->
