<div class="ah_l ah_l--two-column-fixed">

    <div class="ah_l_secondary">

        {{> organisms-header(headerStyleModifier: "ah_c_header--vertical") }}

    </div><!--end ah_l_secondary-->

    <div class="ah_l_main">

        <div class="ah_l_container">

            <main role="main">

                    {{> molecules-page-header }}

                    {{# liveTabs }}
                    {{> organisms-tabs}}
                    {{/ liveTabs }}

                    {{# codeTabs }}
                    {{> organisms-tabs}}
                    {{/ codeTabs }}

                    <div class="fpo-block">Usage Guidelines (Do's, Dont's, Considerations, Alternatives, Resources)</div>

                    <div class="fpo-block">Live site examples</div>

                    <div class="fpo-block">Detailed class description</div>

                    <div class="fpo-block">Discussion/conversation/issues/contributing</div>

            </main><!--end role=main-->

        </div><!--end ah_l_container-->

        {{> organisms-footer }}

    </div><!--end ah_l_main-->

</div><!--end ah_l--two-column-fixed-->
