<div class="ah_l ah_l--two-column-fixed">

    <div class="ah_l__secondary">

        {{> organisms-header(headerStyleModifier: "ah_c__header--vertical") }}

    </div><!--end ah_l__secondary-->

    <div class="ah_l__main">

        <div class="ah_l__container">

            <main role="main">

            	<div class="ah_c__text-passage ah_l-linelength-container">

                    <h1>Guidelines</h1>

                    {{{ htmlText }}}

                </div><!--end ah_c__text-passage-->

            </main><!--end role=main-->

            {{> organisms-footer }}

        </div><!--end ah_l__container-->

    </div><!--end ah_l__main-->

</div><!--end ah_l--two-column-fixed-->
