<div class="ah_l_page-layout ah_l_page-layout--two-column-fixed">

    <div class="ah_l_page-layout__secondary">

        {{# styleGuideHeader }}
        {{> organisms-header }}
        {{/ styleGuideHeader }}

    </div><!--end ah_l_page-layout__secondary-->

    <div class="ah_l_page-layout__main">

        <div class="ah_l_container">

            <main role="main">

            	{{> molecules-page-header }}

                {{# guidelineSection }}
                <section class="ah_c_section">
                    <div class="ah_c_text-passage">
                        {{{ htmlText }}}
                    </div>
                </section>
                {{/ guidelineSection }}

                {{# contributeSection }}
                <section class="ah_c_section">

                    {{> molecules-section-header}}

                    {{> organisms-card-list }}

                </section>
                {{/ contributeSection }}

            </main><!--end role=main-->

            {{> organisms-footer }}

        </div><!--end ah_l_container-->

    </div><!--end ah_l_page-layout__main-->

</div><!--end ah_l--two-column-fixed-->
