<div class="ah_l ah_l--two-column-fixed">

    <div class="ah_l__secondary">

        {{> organisms-header(headerStyleModifier: "ah_c__header--vertical") }}

    </div><!--end ah_l__secondary-->

    <div class="ah_l__main">

        <div class="ah_l__container">

            <main role="main">

                    {{> molecules-hero }}

                    {{# benefitsSection }}
                    <section class="ah_c__section">

                        {{> molecules-section-header }}

                        <div class="ah_c__text-passage">
                            {{{ htmlText }}}
                        </div>

                    </section>
                    {{/ benefitsSection }}

                    {{# appGallerySection }}
                    <section class="ah_c__section">

                        {{> molecules-section-header }}

                        {{# tileSection}}
                        {{> organisms-tile-list }}
                        {{/ tileSection}}

                    </section>
                    {{/ appGallerySection }}

                    {{# contributeSection }}
                    <section class="ah_c__section">

                        {{> molecules-section-header }}
                        <div class="fpo-block">Discussion/conversation/contributing</div>

                    </section>
                    {{/ contributeSection }}

            </main><!--end role=main-->

            {{> organisms-footer }}

        </div><!--end ah_l__container-->

    </div><!--end ah_l__main-->

</div><!--end ah_l--two-column-fixed-->
