/*------------------------------------*\
    #TEXT
\*------------------------------------*/

p {
	margin-bottom: $space;
}

blockquote {
    font-style:italic;
    border-left: 1px solid $color-gray-50;
    color: $color-gray-50;
	padding-left: 1rem;
	margin-bottom: $space;
}

hr {
	border: 0;
    height: 1px;
    background: $color-gray-13;
    margin: 1rem 0;
}

/**
 * Selection styles
 */
::-moz-selection {
  background: $color-brand-purple; /* Gecko Browsers */
}
::selection {
  background: $color-brand-purple; /* WebKit/Blink Browsers */
}
