<div class="ah_c_tabs {{ styleModifier }} ah_js_tabs">

	<ul class="ah_c_tabs__list">

		{{# tabs }}
		<li class="ah_c_tabs__item">
			<a href="#{{ id }}" class="ah_c_tabs__link ah_js_tab">{{ label }}</a>
		</li><!-- end ah_c_tabs__item -->
		{{/ tabs }}

	</ul><!-- end ah_c_tabs__list -->

	<div class="ah_c_tabs__body {{ tabsModifier }}">

		{{# tabs }}

		<div class="ah_c_tabs__panel ah_js_tabs-panel" id="{{ id }}">
			{{# tabsText }}
			{{{ htmlText }}}
			{{/ tabsText }}
		</div><!--end ah_c_tabs__panel-->

		{{/ tabs }}

	</div><!-- end ah_c_tabs__body-->

</div><!-- end ah_c_tabs -->
