<div class="ah_c_header {{ headerStyleModifier }}">

    <div class="ah_c_header__inner">

    	{{> molecules-logo }}

    	{{# navToggle }}
    	{{> molecules-button }}
    	{{/ navToggle }}

    	<div class="ah_c_header__nav-container ah_js-nav-panel">
    	    {{> molecules-primary-nav }}
    	</div><!--end ah_c_header__nav-container-->

    </div><!--end ah_c_header__inner-->

</div><!--end ah_c_header-->
