/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * 1) Button or link that has functionality to it
 * 2) Remove box-shadow that's globally applied to links
 */
.ah_c_btn {
	display: inline-block;
	background: $color-gray-73;
	border-radius: $border-radius;
	cursor: pointer;
	color: $color-white;
	line-height: 1;
	font-weight: bold;
	padding: 1rem 2rem;
	border: 0;
	box-shadow: none; /* 2 */
	text-align: center;
	transition: all $fade-quick ease-out;

	&:hover, &:focus {
		background: $color-black;
		color: $color-white;
	}

	/**
	 * Button within hero
	 */
	.ah_c_hero & {
		display: block;
		margin-left: auto;
	}

	/**
	 * Button within button group
	 */
	.ah_c_btn-group & {
		margin-right: 0.5rem;

		&:last-child {
			margin-right: 0;
		}
	}

	/**
	 * Button within button group
	 */
	.ah_c_btn-group & {
		margin-right: 0.5rem;

		&:last-child {
			margin-right: 0;
		}
	}

	/**
	 * Button within button group
	 */
	.ah_c_btn-group--responsive & {
		margin-right: 0;
		margin-bottom: 0.5rem;

		@media all and (min-width: $bp-small) {
			margin-right: 0.5rem;
			margin-bottom: 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/**
 * Small button
 */
.ah_c_btn--small {
	padding: .375rem .75rem;
}

/*
 * Inner container of the buttonTag
 * Allows for display flex on a button, since that is a bug with flexbox
 */
.ah_c_btn__inner {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
 * Button icon
 */
.ah_c_btn__icon {
	width: 16px;
	height: 16px;
	fill: $color-gray-50;
	position: relative;
	transition: fill $fade-quick $anim-ease;

	/*
	 * Button icon within button hover
	 */
	.ah_c_btn:hover &, .ah_c_btn:focus & {
		fill: $color-gray-73;
	}

	/*
	 * Button icon within active button
	 */
	.ah_c_btn.is-active & {
		fill: $color-black;
	}
}





/*------------------------------------*\
    #TEXT BUTTON
\*------------------------------------*/
/**
 * 1) Button that is text only and doesn't contain a border or fill.
 */
.ah_c_text-btn {
	background: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	text-transform: lowercase;
	border-radius: $border-radius;
	transition: background $fade-quick $anim-ease;
}

/**
 * Text button with error
 */
.ah_c_text-btn--error {
	color: $color-utility-error;

	&:hover, &:focus {
		color: $color-utility-error;
		background: $color-utility-error-light;
	}
}
