/*------------------------------------*\
    #CARD
\*------------------------------------*/

/**
 * Block consisiting of a body and a footer with various elements inside each
 */
.ah_c__card {
	overflow: hidden;
	border: 1px solid $color-gray-13;
	border-radius: $border-radius;
	transition: all $fade-quick ease-out;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;

	&:hover, &:focus {
		border-color: $color-gray-27;
	}
}

/**
 * Card body
 */
.ah_c__card__body {
	padding: 1.2em;
	flex: 1;
	max-height: 15.5em; //TODO
	overflow: hidden;
}

/**
 * Card list
 */
.ah_c__card__list {
	list-style: disc;
	margin-left: 1.1em;
}

/**
 * Card footer
 */
.ah_c__card__footer {
	background: $color-gray-02;
	display: flex;
	width: 100%;
	padding: 0.3rem 1.2rem;
	font-size: $font-size-sm;
	color: $color-gray-50;
	text-transform: lowercase;
}

/**
 * Card link
 */
.ah_c__card__link {
	color: $color-gray-50;

	&:hover, &:focus {
		color: $color-gray-50;
	}

	/**
	 * Card link within card footer
	 * 1) Used to differentiate the link from the rest of the text
	 */
	.ah_c__card__footer & {
		font-weight: bold; /* 1 */
	}
}
