/*------------------------------------*\
    #CREDIT
\*------------------------------------*/

/**
 * 1) Block of text within the footer that shows copyright or owner of the site
 */
.ah_c__credit {
	padding: 1rem 1rem 0.5rem;
	font-size: $font-size-sm;

	/**
	 * Credit within footer
	 * 1) Push credit all the way to the right in the footer
	 */
	.ah_c__footer & {
		margin-left: auto;
	}
}

/**
 * Credit link
 */
 .ah_c__credit__link {
	color: $color-gray-50;

	&:hover, &:focus {
		color: $color-gray-73;
	}
}
