/*------------------------------------*\
    #FIELDS
\*------------------------------------*/

/**
 * 1) A form field
 */
.ah_c__field {
    position: relative;

    /**
     * A form field within list settings
     */
    .ah_c__list-settings & {
        padding: 0.5rem 0;

        &:last-child {
            border-bottom: 0;
        }
    }
}

/**
 * Field label
 */
.ah_c__field__label {
	font-size: $font-size-sm;
	padding: 0;
    background: $color-white;
    color: $color-gray-50;
    line-height: 1;
    text-transform: lowercase;
    opacity: 0;
	max-height: 0;
	overflow: hidden;
    transition: all $fade-quick ease-out;

    /**
     * A field label within a populated field
     */
    .ah_c__field--populated & {
        opacity: 1;
		max-height: 18px;
    }
}

/**
 * Field input
 */
.ah_c__field__input {
	border: 0;
	padding: 0;
	border-bottom: 1px solid $color-gray-13;
    position: relative;
    z-index: 0;
	transition: border-bottom-color $fade-quick ease-out;

	&:focus {
        outline: 0;
		border-bottom-color: $color-gray-50;
	}

    /**
     * Read only field input
     */
    &[readonly] {
        cursor: not-allowed;

        &:focus {
            border-bottom-color: $color-gray-13;
        }
    }
}
