/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

/**
 * 1) Global block at the bottom of each page that contains a navigation and other information
 */
.ah_c__footer {
	text-align: center;
	display: flex;
    border-top: 1px solid $color-gray-07;
    padding: 1rem 0;
    margin-top: 1rem;
}
