/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * Global block at the top of each page containing the navigation, logo, and other potential contents
 */
.ah_c__header {
	position: relative;
	background: $color-gray-07;
}

/**
 * Header inner
 */
.ah_c__header-inner {
	display: flex;
	padding: 1rem;

	/**
	 * Header inner within vertical header
	 */
	.ah_c__header--vertical & {
		@media all and (min-width: $bp-xl) {
			flex-direction: column;
			min-height: 100vh;
		}
	}
}

/**
 * Header navigation button
 * 1) Button used to toggle the navigation on/off on small screens
 */
.ah_c__header__nav-btn {
	margin-left: auto;

	@media all and (min-width: $bp-xl) {
		display: none;
	}
}

/**
 * Header navigation conntainer
 * 1) Contains the primary navigation and other possible patterns
 */
.ah_c__header__nav-container {
	display: none;

	/**
	 * Active header nav container
	 */
	&.ah_is-active {
		display: block;
		position: absolute;
		background: $color-gray-07;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 5;
		padding: 1rem;

		@media all and (min-width: $bp-xl) {
			display: block;
			position: static;
			padding: 0;
		}
	}

	@media all and (min-width: $bp-xl) {
		display: block;
	}
}
