/*------------------------------------*\
    #IFRAMES
\*------------------------------------*/

 /**
  * Iframe for embedding
  * 1) Will be used to embed different lists
  */
.ah_c__iframe {
	display: flex;
	flex-direction: column;
	border: 1px solid $color-gray-13;
	border-radius: $border-radius;
	overflow: hidden;
}

/**
 * Iframe content container
 * 1) Container that houses the iframe content
 */
.ah_c__iframe__content {
	flex: 1;
	padding: 1em;
	overflow: scroll;

	@media all and (min-width: 30em) {
		padding: 2em;
	}
}

/**
 * Iframe footer
 */
.ah_c__iframe-footer {
	background: $color-gray-02;
	color: $color-gray-50;
	text-transform: lowercase;
	text-align: center;
	font-size: $font-size-sm-2;
	line-height: 1.2;
	border: 1px solid $color-gray-13;
	padding: 0.8rem 0.5rem;

	@media all and (min-width: 28em) {
		display: flex;
		text-align: left;
		padding: 0;
	}
}

/**
 * Iframe footer info
 * 1) Metadata about the list
 */
.ah_c__iframe-footer__info {
	@media all and (min-width: 28em) {
		padding: 0.5em;
	}
}

/**
 * Iframe footer branding
 * 1) Metadata for the site itself
 */
.ah_c__iframe-footer__branding {
	@media all and (min-width: 28em) {
		margin-left: auto;
		padding: 0.5em;
	}
}

/**
 * Iframe footer link
 * 1) Link within iframe footer
 */
.ah_c__iframe-footer__link {
	color: $color-gray-50;
	font-weight: bold;
}
