/*------------------------------------*\
    #INPUTS
\*------------------------------------*/

/**
 * Input group
 */
.ah_c__input-group {
    display: flex;
}

/**
 * Input group input field
 */
.ah_c__input-group__input {
    flex: 1;
	font-size: $font-size-sm-2;
    border-color: $color-gray-13;
	outline: 0;
    border-radius: $border-radius 0 0 $border-radius;
	padding: 0.55rem;
    margin-bottom: 1rem;

	&:focus {
		border-color: $color-gray-50;
	}
}

/**
 * Input group addon
 * 1) Usually a button that is added onto the input field
 */
.ah_c__input-group__addon {
    display: block;
    font-size: $font-size-sm;
    text-transform: lowercase;
    background: $color-gray-07;
    border: 1px solid $color-gray-13;
    border-left: 0;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    height: 36px;
    min-width: 57px;
}
