/*------------------------------------*\
    #LIST ITEM
\*------------------------------------*/

/**
 * 1) The list item pattern contains the styles for one bullet.
 */
.ah_c__list-item {
	display: flex;
	position: relative;
	margin: 0 0 0.7rem 0;
	line-height: 1.2;
	outline: 0;

	.ah_c__list__list--ordered & {
		counter-increment: li;
	}

	.ah_c__list__list--reversed & {
		counter-increment: li -1;
	}


	/**
	 * List item within a small list
	 */
	.ah_c__list--small & {
		margin-bottom: 0.4rem;
	}
}

/**
 * Faux bullet for ordered and reversed lists
 */
.ah_c__list-item:before {

	/**
	 * Bullets within an ordered or reversed list
	 */
	.ah_c__list__list--ordered &, .ah_c__list__list--reversed & {
		content: counter(li);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18px;
		height: 18px;
		position: absolute;
		top: 11px;
		pointer-events: none;
		background: $color-gray-50;
		color: $color-white;
		font-size: $font-size-tiny;
		border-radius: 50%;
	}

	/**
	 * List item numbered bulled within small list
	 */
	.ah_c__list--small .ah_c__list__list--ordered &, .ah_c__list--small .ah_c__list__list--reversed & {
		position: relative;
	    top: 2px;
		margin-right: 0.3rem;
		transform: scale(0.8);
	}

}

/**
 * List item active
 */
.ah_c__list-item.is-active {
	&:before {
		opacity: 1;
	}
}

/**
 * List item has a link
 * TODO: Revisit
 */
.ah_c__list-item.has-link {
	&:before {
		background: url(../i/link.svg) no-repeat;
	}
}

/**
 * List item icon container
 * 1) This div contains either an icon, button, or some
 *    other actions.
 */
.ah_c__list-item__icon-container {
	width: 16px;
	height: 16px;
	margin-top: 12px;
	margin-right: 0.6rem;

	/**
	 * List item icon container within a small list
	 */
	.ah_c__list--small & {
		margin-top: 1px;
		margin-right: 0.3rem;
	}

	/**
	 * List item icon container within a small ordered or small reversed list
	 */
	.ah_c__list--small .ah_c__list__list--ordered &, .ah_c__list--small .ah_c__list__list--reversed & {
		display: none;
	}

	/**
	 * List item icon container when linkbox is open
	 * 1) Z-index added to show link icon over linkbox
	 */
	&.is-active {
		z-index: 2;
	}
}

/**
 * List item icon container aligned to bottom
 */
.ah_c__list-item__icon-container--bottom {
	align-self: flex-end;
	margin-bottom: 8px;
}

/**
 * List item icon
 * 1) This is an SVG icon that indicates a bullet, link, etc
 */
.ah_c__list-item__icon {
	display: block;
	fill: $color-gray-50;
	font-size: 1rem;
	width: 16px;
	height: 16px;
	border: 0;
    outline: 0;
	border-radius: $border-radius;
	transition: all $fade-quick $anim-ease;

	/**
	 * List item icon within a hovered/focused list item button
	 */
	.ah_c__list-item__btn:hover &, .ah_c__list-item__btn:focus & {
		fill: $color-gray-73;
	}

	/**
	 * List item icon within an active list item
	 */
	.ah_c__list-item.is-active & {
		fill: $color-black;
	}

	/*
	 * List icon within ordered and reversed list
	 */
	.ah_c__list__list--ordered &, .ah_c__list__list--reversed & {
		display: none;
	}

	/*
	 * List icon within active button in ordered and reversed list
	 */
	.ah_c__list__list--ordered .ah_c__list-item__btn.is-active &, .ah_c__list__list--reversed .ah_c__list-item__btn.is-active & {
		display: block;
	}

    /**
	 * List item icon within an small list
	 */
    .ah_c__list--small & {
		transform: scale(0.8);
    }
}

/**
 * List item button
 * 1) Included this in list item because it is a different beast than a button variation
 */
.ah_c__list-item__btn {
	display: block;
	padding: 0;
	background: none;
	border: none;

	/**
	 * List item button within ordered and reversed
	 */
	.ah_c__list__list--ordered &, .ah_c__list__list--reversed & {
		padding: 0.5rem;
	}

	/**
	 * Active list item button
	 */
	&.is-active {
		padding: 0;
	}

}

/**
 * List item body
 * 1) Expand width of list-item__body to occupy all
 *    space after width of icon
 */
.ah_c__list-item__body {
	flex: 1; /* 1 */
}

/**
 * List item text
 * 1) Wrap long lines of text. For links and super long words
 */
.ah_c__list-item__text {
	display: block;
	outline: 0;
    word-break: break-word; /* 1 */
	border-bottom: 1px solid rgba(255,255,255,0);
	transition: border-bottom-color $fade-quick $anim-ease, color $fade-quick $anim-ease;

	/**
	 * TODO: Rename this for when we get links to work in the list
	 */
	a {
		color: $color-gray-93;
		@include textUnderline();
		animation: pulse 0.2s 1;

		&:hover, &:focus {
			color: $color-gray-73;
			box-shadow: inset 0 -2px 0 $color-gray-27;
		}
	}

	&:focus {
		border-bottom-color: $color-gray-13;
	}

	/**
	 * Active List item text block
	 */
	&.is-active {
		color: $color-black;
	}
}

/**
 * List item character count
 * 1) Counts the remaining characters
 */
.ah_c__list-item__count {
	display: inline;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: $font-size-med;

	&.is-suppressed {
		opacity: 0;
		visibility: hidden;
        display: none;
	}
}

/**
 * Animation
 */
@keyframes pulse {
  0%   { background: $color-gray-07; }
  100% { background: none; }
}
