/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 */
.ah_c__logo {
	margin: 0;
	font-size: $font-size-sm-2;
	line-height: 1;
}

/**
 * Logo link
 */
.ah_c__logo__link {
	display: block;
	padding: 1rem;
}
