/*------------------------------------*\
    #MEDIA BLOCK
\*------------------------------------*/

/**
 * 1) Image with associated text beside it
 */
.ah_c__media-block {
	@media all and (min-width: 32em) {
		display: flex;
	}
}

/**
 * Media block avatar
 */
.ah_c__media-block__avatar {
	width: 90px;
	margin: 0 auto;

	@media all and (min-width: 32em) {
		margin: 0 1em 0 0;
	}
}

/**
 * Media block profile info
 */
.ah_c__media-block__info {
	@media all and (min-width: 32em) {
		flex: 1;
		margin-top: -0.1rem;
	}
}

/**
 * Media block title
 */
.ah_c__media-block__title {
	font-size: 1.4rem;
}

/**
 * Media block subtitle
 */
.ah_c__media-block__subtitle {
	color: $color-gray-50;
	max-width: 40em;
}

/**
 * Media block link
 */
.ah_c__media-block__link {

	/**
	 * Media block link witin  media block subtitle
	 */
	.ah_c__media-block__subtitle & {
		font-size: 1rem;
		color: $color-gray-60;
	}
}

/**
 * Media block biography
 */
.ah_c__media-block__bio {
	font-size: $font-size-sm-2;
	color: $color-gray-50;
	max-width: 37em;
}
