/*------------------------------------*\
    #MEDIA BLOCK
\*------------------------------------*/

/**
 * 
 */
.ah_c_media {
	
}

.ah_c_media__image {
	display: block;
	float: left;
    margin-right: 1rem;
}
