/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/

/**
 * Navigation
 */

/**
 * Navigation list
 */
.ah_c__primary-nav__list {
	display: flex;

	/**
	 * Primary navigation list within a vertical header
	 */
	.ah_c__header--vertical & {
		display: block;
	}
}

/**
 * Navigation item
 */
.ah_c__primary-nav__item {
	position: relative;
}

/**
 * Navigation link
 */
.ah_c__primary-nav__link {
	display: block;
	padding: 0.5rem 0;
	cursor: pointer;
}

/**
 * Navigation link with subnavigation
 */
.ah_c__primary-nav__link--has-children {

	/**
	 * Primary nav link that has children within a vertical header
	 */
	.ah_c__header--vertical & {
		display: flex;
		align-items: center;
	}
}

/**
 * Navigation list subnavigation
 * 1) Width of dropdown is an aesthetic choice and aligns the
 *    dropdown with the adjacent nav item.
 */
.ah_c__primary-nav__sublist {
	display: none;

	/**
	 * Primary navigation sublist within vertical header
	 */
	.ah_c__header--vertical & {
		margin-left: 1rem;
	}

	/**
	 * Primary navigation sublist within active primary navigation item
	 */
	.ah_c__primary-nav__item.ah_is-active & {
		display: block;
	}

}

/**
 * Primary navigation icon
 */
.ah_c__primary-nav__icon {
	fill: $color-gray-73;
	transition: fill 0.2s ease;

	/**
	 * Primary navigation icon within vertical header
	 */
	.ah_c__header--vertical & {
		margin-left: auto;
	}

	/**
	 * Primary nav icon within vertical header
	 */
	.ah_c__header--vertical & {
		margin-left: auto;
	}

	/**
	 * Primary nav icon within active link
	 */
	.ah_c__primary-nav__item.ah_is-active & {
		transform: rotate(90deg);
	}

	.ah_c__primary-nav__link:hover &, .ah_c__primary-nav__link:focus & {
		fill: $color-gray-50;
	}
}
