/*------------------------------------*\
    #SECTION
\*------------------------------------*/

/**
 * Block of various elements that is all grouped into one organized section
 */
.ah_c__section {
	margin: 0 0 2em;
}

/**
 * Section header
 */
.ah_c__section__header {
	margin: 1rem 0;
}

/**
 * Section title
 */
.ah_c__section__title {
	margin-bottom: 0;
}
