/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * Interactive tabs that reveal certain information depending on which tabs to click on
 */
.ah_c__tabs {
	border: 1px solid $color-gray-13;
	border-radius: $border-radius;
	overflow: hidden;

	/**
	 * Tabs within list settings panel
	 */
	.ah_c__list-settings__panel & {
		border: 0;
	}
}

/**
 * Tabs list
 */
.ah_c__tabs__list {
	display: flex;
	display: none; //TODO: remove tabs for real
}

/**
 * Tabs item
 */
.ah_c__tabs__item {
	flex: 1;
	text-align: center;
	border-right: solid 1px $color-gray-13;

    &:nth-last-child(1) {
	    border-right: 0;
    }
}

/**
 * Tabs link
 */
.ah_c__tabs__link {
	position: relative;
    display: block;
    font-weight: normal;
    padding: 0.64em 1em;
    background: $color-gray-02;
    color: $color-gray-50;
    text-transform: lowercase;
    border-bottom: solid 1px $color-gray-13;

    &:hover, &:focus {
		color: $color-gray-73;
        box-shadow: none;
	}

	/**
	 * Active tabs link
	 */
    &.is-active {
	    background: $color-white;
	    color: $color-gray-73;
	    border-bottom: solid 1px $color-white;
    }
}

/**
 * Tabs panel
 */
.ah_c__tabs__panel {
	display: none;
	padding: 1rem;

	/**
	 * Active tabs panel
	 */
	&.is-active {
		display: block;
	}
}
