<ul class="ah_c__footer-nav">

	<li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">About</a>
	</li>

	<li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">Contribute</a>
	</li>
	
	<li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">Contact</a>
	</li>

</ul><!--end ah_c__footer-nav-->
