<ul class="ah_c__footer-nav">

    <li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">Support</a>
	</li>

	<li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">Contributing</a>
	</li>

    <li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">Release History &amp; Roadmap</a>
	</li>

	<li class="ah_c__footer-nav__item">
		<a href="#" class="ah_c__footer-nav__link">Slack</a>
	</li>

</ul><!--end ah_c__footer-nav-->
