<nav id="nav" class="ah_c__primary-nav" role="navigation">

    <ul class="ah_c__primary-nav__list">

        {{# navItems }}
		<li class="ah_c__primary-nav__item {{ styleModifier }}">

			<a href="{{ url }}" class="ah_c__primary-nav__link {{# currentPage }}ah_is-current {{/ currentPage }}{{# navChild }} ah_c__primary-nav__link--has-children ah_js__nav-dropdown-trigger{{/ navChild }}">

				{{ label }}

				{{# navChild }}
				<svg class="ah_c__icon ah_c__primary-nav__icon">
	            	<use href="{{ iconPath }}#icon-caret-down"></use>
	          	</svg>
				{{/ navChild }}
			</a><!--end ah_c__primary-nav__link-->

			{{# navChild }}
			<ul class="ah_c__primary-nav__sublist ah_js__nav-dropdown">

				{{# navChildList }}
				<li class="ah_c__primary-nav__subitem">

					<a href="{{ url}}" class="ah_c__primary-nav__sublink">{{ label }}</a>

				</li><!-- end ah_c__nav__sublist__item -->
				{{/ navChildList }}

			</ul><!-- end ah_c__nav__sublist -->
			{{/ navChild }}

		</li><!-- end ah_c__nav__list__item -->
        {{/ navItems }}

	</ul><!-- end ah_c__nav__list -->

</nav><!-- end ah_c__nav -->
