 /*------------------------------------*\
    #TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ABSTRACTS..............................Declarations of Sass variables & mixins
 * BASE...................................Default element styles
 * .....Body
 * .....Links
 * .....Headings
 * .....Forms
 * .....Defaults
 * COMPONENTS.............................Component styles
 * LAYOUT.................................Layout-specific styles
 * UTILITIES..............................Utility classes
 */

/*------------------------------------*\
    #ABSTRACTS
\*------------------------------------*/
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";





/*------------------------------------*\
    #GLOBAL ELEMENTS
\*------------------------------------*/
@import "scss/base/reset";
@import "scss/base/body";
@import "scss/base/links";
@import "scss/base/lists";
@import "scss/base/headings";
@import "scss/base/forms";
@import "scss/base/buttons";
@import "scss/base/main";
@import "scss/base/media";
@import "scss/base/text";





/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
@import "scss/layout/layout";





/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
@import "scss/components/buttons";
@import "scss/components/footer-nav";
@import "scss/components/footer";
@import "scss/components/header";
@import "scss/components/logo";
@import "scss/components/primary-nav";
@import "scss/components/text-passage";





/*------------------------------------*\
    #UTILITIES
\*------------------------------------*/
@import "scss/utilities/visibility";
