<section class="ah_c__section">

	<div class="ah_c__section__header">

		<h2 class="ah_c__section__title">{{ heading }}</h2>
        
	</div><!--end ah_c__section__header-->

	<div class="ah_c__section__body">

    </div><!--end ah_c__section__body-->

</section><!--end ah_c__section-->
