{{# alert }}
<div class="ah_c__alert js-alert {{ styleModifier }}">
	<div class="ah_c__alert__text">{{{ alert.text }}}</div>
	{{# alertButton }}
	{{> atoms-button }}
	{{/ alertButton }}
</div>
{{/ alert }}
