<ol class="ah_c_breadcrumbs {{ styleModifier }}" role="navigation" >

	{{# breadcrumbs }}
	<li class="ah_c_breadcrumbs__item">
		<a href="{{ url }}" class="ah_c_-breadcrumbs__link {{ breadcrumbsModifier }}">{{ label }}</a>
	</li><!-- end ah_c_breadcrumbs__item -->
	{{/ breadcrumbs }}

</ol><!-- end ah_c_breadcrumbs -->
