<ul class="ah_c__footer-nav">

    {{# footerNav }}
    <li class="ah_c__footer-nav__item">
		<a href="{{ url }}" class="ah_c__footer-nav__link">{{ label }}</a>
	</li><!--end ah_c__footer-nav__item-->
    {{/ footerNav }}

</ul><!--end ah_c__footer-nav-->
