<nav id="nav" class="ah_c_primary-nav" role="navigation">

    <ul class="ah_c_primary-nav__list">

        {{# navItems }}
		<li class="ah_c_primary-nav__item {{ styleModifier }}">

			<a href="{{ url }}" class="ah_c_primary-nav__link {{# currentPage }}ah_is-current {{/ currentPage }}{{# navChild }} ah_c_primary-nav__link--has-children ah_js_nav-dropdown-trigger{{/ navChild }}">

				<span class="ah_c_primary-nav__text">{{ label }}</span>

				{{# navChild }}
				<svg class="ah_c_icon ah_c_primary-nav__icon">
	            	<use href="{{ iconPath }}#{{ icon }}"></use>
	          	</svg>
				{{/ navChild }}
			</a><!--end ah_c_primary-nav__link-->

			{{# navChild }}
			<ul class="ah_c_primary-nav__sublist ah_js__nav-dropdown">

				{{# navChildList }}
				<li class="ah_c_primary-nav__subitem">

					<a href="{{ url}}" class="ah_c_primary-nav__sublink {{# subNavChild }}ah_c_primary-nav__sublink--has-children ah_js_nav-dropdown-trigger{{/ subNavChild }}">

                        <span class="ah_c_primary-nav__text">{{ label }}</span>

                        {{# subNavChild }}
                            <svg class="ah_c_icon ah_c_primary-nav__subicon">
                                <use href="{{ iconPath }}#chevron-right"></use>
                            </svg>
                        {{/ subNavChild }}

                    </a><!-- end ah_c_primary-nav__sublink -->

                    {{# subNavChild }}
                    <ul class="ah_c_primary-nav__sublist ah_js_nav-dropdown" id="{{ id }}">

                        {{# subNavChildList }}
                        <li class="ah_c_primary-nav__subitem">
                            <a href="{{ url }}" class="ah_c_primary-nav__sublink">
                                <span class="ah_c_primary-nav__text">{{ label }}</span>
                            </a>
                        </li><!-- end ah_c_primary-nav__subitem -->
                        {{/ subNavChildList }}

                    </ul><!-- end ah_c_priamry-nav__sublist -->
                    {{/ subNavChild }}

				</li><!-- end ah_c_priamry-nav__subitem -->
				{{/ navChildList }}

			</ul><!-- end ah_c_primary-nav__sublist -->
			{{/ navChild }}

		</li><!-- end ah_c_primary-nav__list__item -->
        {{/ navItems }}

	</ul><!-- end ah_c_primary-nav__list -->

</nav><!-- end ah_c_primary-nav -->
