<div class="demo">

    <!--Grid 2up-->
	<div class="ah_l__grid l-grid--2up">

		<div class="ah_l__grid__item">
			<div class="fpo-block">1/2</div>
		</div>

		<div class="ah_l__grid__item">
			<div class="fpo-block fpo-block--dark">1/2</div>
		</div>

	</div><!--end ah_l__grid--2up-->

</div><!--end demo-->
