<div class="demo">

	<!--Grid 4up-->
	<div class="ah_l_grid ah_l_grid--3up">

		<div class="ah_l_grid__item">
			<div class="fpo-block">1/3</div>
		</div><!--end ah_l_grid__item-->

		<div class="ah_l_grid__item">
			<div class="fpo-block fpo-block--dark">1/3</div>
		</div><!--end ah_l_grid__item-->

		<div class="ah_l_grid__item">
			<div class="fpo-block">1/3</div>
		</div><!--end ah_l_grid__item-->

	</div><!--end ah_l_grid--4up-->

</div><!--end demo-->
