<div class="demo">

	<!--Grid 4up-->
	<div class="ah_l_grid l-grid--4up">

		<div class="ah_l_grid__item">
			<div class="fpo-block">1/4</div>
		</div><!--end ah_l_grid__item-->

		<div class="ah_l_grid__item">
			<div class="fpo-block fpo-block--dark">1/4</div>
		</div><!--end ah_l_grid__item-->

		<div class="ah_l_grid__item">
			<div class="fpo-block">1/4</div>
		</div><!--end ah_l_grid__item-->

		<div class="ah_l_grid__item">
			<div class="fpo-block fpo-block--dark">1/4</div>
		</div><!--end ah_l_grid__item-->

	</div><!--end ah_l_grid--4up-->

</div><!--end demo-->
