<div class="demo">

	<!--Grid 4up-->
	<div class="ah_l__grid l-grid--4up">

		<div class="ah_l__grid__item">
			<div class="fpo-block">1/4</div>
		</div>

		<div class="ah_l__grid__item">
			<div class="fpo-block fpo-block--dark">1/4</div>
		</div>

		<div class="ah_l__grid__item">
			<div class="fpo-block">1/4</div>
		</div>

		<div class="ah_l__grid__item">
			<div class="fpo-block fpo-block--dark">1/4</div>
		</div>

	</div><!--end ah_l__grid--4up-->

</div><!--end demo-->
