<div class="ah_l_page-layout ah_l_page-layout--two-column-fixed">

	<div class="ah_l_page-layout__secondary">

    	<div class="fpo-block">Secondary</div>

	</div><!-- end ah_l_page-layout__secondary -->

	<div class="ah_l_page-layout__main">

        <div class="fpo-block fpo-block--dark">Main (scroll to see effect)</div>

	</div><!-- end ah_l_page-layout__main -->

</div><!-- end ah_l_page-layout--two-column-fixed -->
