/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * Layout Container
 * 1) Caps the width of the content to the maximum width
 *    and centers the container
 */
.ah_l__container {
	max-width: $l-max-width;
	margin: 0 auto;
}

/**
 * Narrow Layout Container
 * 1) This narrow layout container is for lists, forms,
 *    and other singular objects that aren't dashboard-y
 *    kinds of displays
 */
.ah_l__container--narrow {
    max-width: $l-max-width-narrow;
}

/**
 *
 * 1) This narrow layout container is for lists, forms,
 *    and other singular objects that aren't dashboard-y
 *    kinds of displays
 */
.ah_l__linelength-container {
	margin: 0 auto;
    max-width: 35rem;
}





/*------------------------------------*\
    #LAYOUT SECTIONS
\*------------------------------------*/

/**
 * Main section
 * 1) The main section is the primary content container
 */
.ah_l__main {

    /**
	 * Main section of 2 column fixed layout
	 * 1) Margin left equals width of the fixed positioned sidebar
	 */
    .ah_l--two-column-fixed > & {
        display: flex;
        height: 100vh;
        flex-direction: column;

        @media all and (min-width: $bp-xl) {
            margin-left: 20rem; /* 1 */
        }
    }
}

/**
 * Secondary section
 * 1) The secondary section is an auxiliary container
 *    Otherwise known as "sidebar", but we try to
 *    avoid that term to be mindful of the fact in
 *    responsive environments "sidebar"
 */
.ah_l__secondary {

	/**
	 * Secondary section in a two-column fixed layout
	 * 1) This is a fixed element
	 */
    .ah_l--two-column-fixed > & {
        @media all and (min-width: $bp-xl) {
            position: fixed;
    	    z-index: 2;
            overflow: auto;
			width: 20rem;
            height: 100vh;
        }
    }
}





/*------------------------------------*\
    #GRID
\*------------------------------------*/

/**
 * Grid Container
 */
.ah_l__grid {
	margin: 0 -0.5rem;
	display: flex;
	flex-wrap: wrap;

	@supports (display: grid) {
		display: grid;
		grid-gap: $pad-normal;
		grid-template-columns: repeat(auto-fill, minmax(285px, 1fr) );
		margin: 0;

		@media all and (min-width: $bp-med) {
			grid-gap: $pad-comfortable;
		}
	}
}



/**
 * Grid Item
 */
.ah_l__grid__item {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;

	/**
	 * Grid item within 3-up grid
	 */
    .ah_l__grid--3up & {

	    @media all and (min-width: 35em) {
            width: 50%;
        }

	    @media all and (min-width: 45em) {
            width: 33.33333%;
        }
    }

	/**
	 * Grid item within 3-up grid
	 */
	.ah_l__grid--4up & {
		@media all and (min-width: 35em) {
			width: 50%;
		}

		@media all and (min-width: 55em) {
			width: 33.33333%;
		}

		@media all and (min-width: 74em) {
			width: 25%;
		}

		/**
		 * 1) If CSS Grid is supported, set the width
		 *    of grid__items to 100% to fill space
		 *    automatically
		 */
		@supports (display: grid) {
			width: 100%; /* 1 */
			padding: 0;
		}
	}
}
