<{{# buttonTag }}button{{/ buttonTag }}{{# linkTag }}a href="{{ url }}"{{/ linkTag }} class="ah_c_text-btn {{ styleModifier }}">
	{{ buttonText }}
</{{# buttonTag }}button{{/ buttonTag }}{{# linkTag }}a{{/ linkTag }}><!-- end ah_c_text-btn -->
