{{# hero }}
<div class="ah_c_hero {{ styleModifier }}" style="background-image: url({{ imgLandscape16x9 }});">

	<div class="ah_c_hero__body">

		{{# headline }}<h1 class="ah_c_hero__title">{{ headline }}</h1>{{/ headline }}
		{{# excerpt }}<p class="ah_c_hero__desc">{{{ excerpt }}}</p>{{/ excerpt }}
		{{> molecules-button }}

	</div><!-- end ah_c_hero__body -->

</div><!-- end ah_c_hero -->
{{/ hero }}
