<div class="ah_c__media-block">
	<div class="ah_c__media-block__avatar">
		{{> atoms-avatar }}
	</div>
	<div class="ah_c__media-block__info">
		<h1 class="ah_c__media-block__title"><a href="{{ link.pages-profile }}" class="ah_c__media-block__link">{{ user.name }}</a></h1>
		<h3 class="ah_c__media-block__subtitle"><a href="{{ link.pages-profile }}" class="ah_c__media-block__link">{{ user.username }}</a></h3>
		<p class="ah_c__media-block__bio">{{ user.bio }}</p>
	</div><!--end page-heading__info-->
</div><!--end page-heading--profile-->
