<a href="{{ url }}" class="ah_c__tile {{ styleModifier }}">

	<span class="ah_c__tile__headline">{{ tile.title }}</span>
	<span class="ah_c__tile__desc">{{ tile.description }}</span>

</a><!-- end ah_c__tile-->
