<a href="{{ url }}" class="ah_c_tile {{ styleModifier }}">

	<span class="ah_c_tile__headline">{{ tile.title }}</span>
	<span class="ah_c_tile__desc">{{ tile.description }}</span>

</a><!-- end ah_c_tile-->
